.add-board {
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.12);
  border: none;
  width: 120px;
  text-decoration: underline;
}

.add-board:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.add-board-form-container {
  display: flex;
  flex-direction: row;
  background-color: #e2e4e6;
}

.add-board-input {
  max-width: 118px;
}

.add-board-btn {
  margin-top: 10px;
  padding: 5px;
  background-color: #5aac44;
  border-radius: 3px;
  border-width: 0px;
}

.cancel-btn {
  border: none;
  background-color: none;
  margin-left: 10px;
}
