.board {
  display: flex;
  flex-wrap: wrap;
}

.board-title-container {
  flex: 0 0 100%;
  color: #e3dce6;
  padding-top: 20px;
  padding-bottom: 20px;
}

.board-title {
  padding-left: 20px;
}

.delete-board-btn {
  padding: 5px 20px 0px 0px;
  border-radius: 3px;
  color: #e3dce6;
  border: none;
  float: right;
  background: none;
}

.delete-board-btn .delete-board-btn-text {
  text-decoration: underline;
}

.delete-board-btn:hover {
  background: rgba(0, 0, 0, 0.12);
}
