.board {
  display: flex;
  margin-top: 40px;
  overflow-y: scroll;
}

.list {
  display: flex;
  flex-flow: column;
  background-color: #e2e4e6;
  padding: 10px;
  border-radius: 3px;
  width: 250px;
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
}

.list-heading {
  padding-top: 5px;
  padding-bottom: 5px;
}

.list-item {
  background-color: #fff;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 #ccc;
  -moz-box-shadow: 0 1px 0 #ccc;
  box-shadow: 0 1px 0 #ccc;
  cursor: pointer;
}

.list-item:hover {
  background-color: #d1d1d1;
}

.list-item-text {
  font-size: 14px;
}
