.list {
  display: flex;
  flex-flow: column;
  background-color: #e2e4e6;
  padding: 10px;
  border-radius: 3px;
  width: 250px;
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
}

.list-heading {
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  background: none;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.list-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list-title-container-column {
  display: flex;
}

.list-action-btn {
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
  color: #7d7d7d;
}

.list-action-btn:hover {
  background-color: #ccc;
  color: #545353;
}

.list-title-input {
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid black;
  border-radius: 3px;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
}

.list-action-btn {
  background: none;
  border: 0px;
}

.list-item {
  background-color: #fff;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 #ccc;
  -moz-box-shadow: 0 1px 0 #ccc;
  box-shadow: 0 1px 0 #ccc;
  cursor: pointer;
}

.list-item:hover {
  background-color: #d1d1d1;
}

.list-item-text {
  font-size: 14px;
}
