.board-list {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  align-self: center;
}

.board-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  min-height: 100px;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.add-board {
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.12);
}

.add-board:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.board-list-board {
  background-color: #e2e4e6;
  text-decoration: none;
}

.board-list-board:hover {
  background-color: #c0c4c7;
}

.bottom-shadow {
  -webkit-box-shadow: 0 1px 0 #afafaf;
  -moz-box-shadow: 0 1px 0 #afafaf;
  box-shadow: 0 1px 0 #afafaf;
}

.bottom-shadow:hover {
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
}

.board-name {
  font-size: 16px;
  color: #404040;
}
